<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Registration Page</h1>
<p th:text= "${message}" />
<form th:action="@{/registration}" method="post">
    <div><label> User Name: <input type="text" name="username" required/> </label></div>
    <div><label> Password: <input type="password" name="password" required/> </label></div>
    <div><label> Confirm : <input type="password" name="confirmPassword" required/> </label></div>
    <div><label> Email: <input type="email" name="email" required/> </label></div>
    <div><label> Phone : <input type="text" name="phone" required/> </label></div>
    <div><input type="submit" value="Submit" /></div>
</form>
</body>
</html>